* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.day-box {
    position: absolute  ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
   
}

img {
    display: block;
    width: 500px;
    height: 500px;
    margin: 10px;
}
