* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow: hidden;
}

.container {
    position: relative;
    margin: auto;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.fondo {
    width: 100%;
    height: 100%;
}

.testo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
    height: 600px;
    animation-name: appear;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes appear {
    0%{opacity: 0;}
   
    100%{opacity: 1;}
}

.babbo {
    width: 200px;
    height: 150px;
    bottom: 5%;
    position: absolute;
    animation-name: engine-start;
    animation-duration: 1.5s ;
    animation-iteration-count: infinite;
}



@keyframes engine-start {

    0%{left:-20%;}
    20%{left:10%}
    25%{transform: rotate(-45deg);}

    100%{left:150%;}
    
}


.hide {
    display: none;
}


.day-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
   
}

.current-day, .current-message {
    width: 100vw;
    height: 100vh;
    

}

